\install
text
# url --url http://mirror.steadfast.net/centos/7/os/x86_64
url --url "http://10.0.0.1/pxeboot/pub/centos/7/"
lang en_US
keyboard us

logging --level debug
#interactive

network --device=eth0 --bootproto=dhcp --noipv6
network --device=eth1 --no-activate --onboot=no --noipv6

timezone America/Chicago
authconfig --enableshadow --passalgo=sha512
rootpw --iscrypted ¯\_(ツ)_/¯ 
skipx

firewall --disable
selinux --disabled

bootloader --location=mbr

clearpart --all --initlabel --disklabel gpt

partition /tmp --size=4096
partition swap --recommended --maxsize=8192
partition / --size=1 --grow

eula --agreed
reboot

%pre
%end

%packages --nobase
@core --nodefaults
-aic94xx-*
-alsa-*
-btrfs-progs*
-biosdevname
-iprutils
-ivtv*
-iwl*firmware
-kexec-tools
-NetworkManager*
-plymouth*
mailx
screen
%end

%post
mkdir /root/.ssh
#curl -o /root/.ssh/authorized_keys http://<repo_site>/etc/authorized_keys
#curl -o /etc/chrony.conf http://<repo_site>/etc/chrony.conf
postconf -e inet_protocols=ipv4
postfix reload
/bin/systemctl restart postfix.service

while read -r hname newip stack; do

        /usr/bin/curl http://10.0.0.1/pxeboot/pub/networkconf.sh | bash -s -- "$newip"

        systemctl restart network.service
        sleep 10

        if ! ping -c 1 google.com &> /dev/null; then
                sleep 30
        fi

        if [[ $stack == cpanel ]]; then
                stackurl=https://raw.githubusercontent.com/jcatello/bigscoots/master/bsi1-dedi.sh
        fi

        if [[ $stack == cpanel_shared ]]; then
                stackurl=https://raw.githubusercontent.com/jcatello/bigscoots/master/bsi1-dedi.sh
                shared=1
        fi

        if [[ $stack == wpo ]]; then
                stackurl=https://raw.githubusercontent.com/jcatello/bigscoots/master/bsi-nginx-dedi.sh
        fi

  echo "/usr/bin/hostnamectl set-hostname $hname
  
  if [ $shared = 1]; then
        screen -dmS bsinstall sh -c 'curl -sL $stackurl | bash -s -- shared'
  else
        screen -dmS bsinstall sh -c 'curl -sL $stackurl | bash'
  fi
  sed -i '/hostnamectl/d' /etc/rc.local /etc/rc.d/rc.local" >> /etc/rc.local
  chmod +x /etc/rc.local /etc/rc.d/rc.local

  echo "" | mail -s "PXE Dedi install completed on STATIC IP $newip - $hname - Part 2" monitor@bigscoots.com
done <<< "$(curl -s "http://10.0.0.1/pxeboot/pub/q4kpITbNxO4o79153AHVTuxG3DbC2xMq" | tr '\n' ' ')"

%end